.dashboard {
  padding-block: 12rem;
  background: $background2;
}

.blocksWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 57.6rem;
  column-gap: $gapLarge;
  row-gap: 4rem;
}

.block {
  display: flex;
  flex-direction: column;
  padding-inline: 4rem;
  max-width: 58.8rem;
  width: 100%;
  border-radius: $borderRadiusLarge;
}

.title {
  @extend %h2;

  display: block;
  position: relative;
  font-weight: map-get($fontWeights, 'regular');
  cursor: pointer;

  span {
    @extend %body3Regular;

    margin-left: 1.6rem;
    font-family: $bodyFont;
    color: $secondary4;
    text-transform: uppercase;
  }

  &:hover .arrow {
    translate: calc(100% + $gapExtraSmall) -50%;
    opacity: 0;

    &:nth-child(2) {
      opacity: 1;
    }
  }
}

.arrow {
  position: absolute;
  right: 0;
  top: 50%;
  width: 2.6rem;
  height: 4rem;
  mask: url(assets/icons/arrow-right-pages-type.svg);
  translate: 0 -50%;
  transition: 0.3s;

  &:nth-child(2) {
    right: calc(2.6rem + $gapExtraSmall);
    opacity: 0;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
}

.link {
  @extend %buttonSmall;

  display: inline-block;
  padding: 0.8rem 1.6rem;
  text-transform: capitalize;
  border-radius: $borderRadius;
}

.list {
  display: flex;
  flex-direction: column;

  .item {
    @extend %body3Medium;

    border-bottom-width: 0.05rem;
    border-bottom-style: solid;
    text-transform: capitalize;
    cursor: pointer;

    &:first-child {
      padding-top: 0;
    }
  }
}
