.information {
  @include typography(body3);

  letter-spacing: 0;

  ol,
  ul {
    margin-top: 1.6rem;
    list-style-position: inside;

    ::marker {
      color: $primary1;
    }
  }

  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }

  strong {
    font-weight: map-get($fontWeights, 'medium');
  }
  em {
    font-style: italic;
  }
  .link {
    color: $primary1;
  }
}

.passage {
  &Title {
    color: $primary2;
    font-weight: map-get($fontWeights, 'medium');

    &:not(:first-child) {
      margin-top: 3.2rem;
      padding-top: 3.2rem;
      border-top: 0.1rem solid $lightGray;
    }
  }

  &Text {
    margin-top: 1.6rem;
  }
}

.department {
  @include typography(body4);

  letter-spacing: 0;

  &:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    color: $primary1;
    background: $background1;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    .name {
      font-weight: map-get($fontWeights, 'medium');
    }

    .dateTime {
      display: flex;
      gap: $gapExtraSmall;
    }
  }

  &Totals {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    font-weight: map-get($fontWeights, 'medium');
    border: 0.1rem solid $background1;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border: 0.1rem solid $background1;
  border-top: none;

  &.rounded {
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }

  & > span {
    width: 12.2rem;

    &:first-child,
    &.count {
      font-weight: map-get($fontWeights, 'medium');
    }

    &:first-child {
      width: 17rem;
    }

    &:last-child {
      text-align: end;
    }
  }

  .participants,
  .program {
    width: 8rem;
  }

  .danceClass {
    width: 3rem;
  }

  .count {
    width: 4.8rem;
  }
}
.count {
  color: $primary2;
}

.group {
  display: none;
  flex-direction: column;
  width: 17rem;

  span:first-child {
    font-weight: map-get($fontWeights, 'medium');
  }
}

.totalsHeader {
  @include typography(body4);

  display: flex;
  align-items: center;
  gap: $gapMedium;
  margin-bottom: 2.4rem;
  padding: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0;
  border-radius: $borderRadius;
  background: $background1;
}

.totals {
  width: 6.4rem;
  color: $primary1;
  line-height: 2.4rem;
  font-weight: map-get($fontWeights, 'medium');
}

.stats {
  display: flex;
  gap: $gapMedium;
}

.stat {
  @include typography(body4);

  display: flex;
  gap: $gapExtraSmall;
  line-height: 2rem;
  white-space: nowrap;

  span:last-child {
    color: $primary2;
    font-weight: map-get($fontWeights, 'medium');
  }
}

.line {
  margin-block: 2.4rem;
  height: 0.1rem;
  background: $lightGray;
}

.judge,
.club {
  display: flex;
  align-items: center;
  gap: $gapMedium;
}

.judgePhoto,
.clubLogo {
  height: 8rem;
  min-width: 8rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.judgeInfo,
.clubInfo {
  @include typography(body4);

  display: flex;
  flex-direction: column;
  gap: $gapExtraSmall;
  flex-grow: 1;
  line-height: 2rem;
  letter-spacing: 0;

  .name {
    @include typography(body3, medium);
  }
}

.judgeCategory {
  margin-top: -0.4rem;
}

.address {
  @include typography(body3);

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.map {
  aspect-ratio: 4/2;
  background: $background1;
  border-radius: $borderRadius;
  overflow: hidden;

  .loader {
    display: grid;
    place-items: center;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .department {
    line-height: 2rem;
  }

  .category {
    gap: $gapExtraSmall;

    .danceClass {
      width: 5rem;
      text-align: center;
    }
  }

  .categoryName,
  .participants,
  .program,
  .dances {
    display: none;
  }

  .group {
    display: flex;
  }

  .information {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .passage {
    &Title:not(:first-child) {
      margin-top: $gapLarge;
      padding-top: $gapLarge;
    }

    &Text {
      margin-top: $gapExtraSmall;
    }
  }

  .stat,
  .totals {
    line-height: 2rem;
  }

  .judgePhoto,
  .clubPhoto {
    height: 6.4rem;
    min-width: 6.4rem;
  }

  .judgeInfo,
  .clubInfo {
    line-height: 2rem;
    gap: 0.4rem;

    .name {
      font-size: 1.6rem;
    }
  }

  .address {
    gap: 2.4rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 430px) {
  .map {
    height: 32rem;
    aspect-ratio: unset;
  }
}
