.block {
  padding-block: 10rem 14.4rem;
  background: $background2;
}

.title {
  @extend %h2;

  text-transform: capitalize;
  margin-bottom: 4.8rem;
}

.navigationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;

  .btn {
    width: 10rem;
    text-transform: uppercase;
    transition: 0.3s;

    img {
      position: absolute;
      transition: inherit;
    }

    &.prev {
      padding-left: 3.8rem;

      img {
        left: 1.5rem;
      }
    }

    &.next {
      padding-right: 3.8rem;

      img {
        right: 1.5rem;
      }
    }

    &:focus-visible,
    &:hover {
      @extend %buttonActive;

      padding-inline: unset;
      animation: borderPulsation 3s ease-in-out infinite;

      &.prev img {
        left: -1.7rem;
        opacity: 0;
      }

      &.next img {
        right: -1.7rem;
        opacity: 0;
      }
    }
  }
}

@keyframes borderPulsation {
  0% {
    border-width: 0.175rem;
  }
  100% {
    border-width: 0.05rem;
  }
}

.newsList {
  padding: 3.2rem;
  background: $secondary3;
  border-radius: $borderRadiusLarge;

  &.empty {
    display: none;
  }
}

.newsCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 28.2rem;
  color: $background1;
  cursor: pointer;
  transition: 0.4s;

  &:focus-visible,
  &:hover {
    outline: none;

    .cover {
      height: 27.4rem;
      border: 0.1rem solid $lightGray;
    }

    .publicationDate {
      opacity: 0;
    }

    .newsTitleWrapper {
      margin-top: 1.6rem;
    }

    .newsTitle {
      @extend %body1Medium;

      $lineHeight: 2.88rem;

      max-width: 100%;
      line-height: $lineHeight;

      max-height: calc($lineHeight * 3);
    }
  }
}

.cover {
  height: 24.2rem;
  object-fit: cover;
  border-radius: $borderRadius;
  transition: 0.4s;
}

.publicationDate {
  @extend %buttonSmall;

  position: absolute;
  top: 26.6rem;
  right: 0;
  transition: 0.4s;
}

.newsTitleWrapper {
  margin-top: 4.8rem;
  height: 8.8rem;
  transition: 0.4s;
}

.newsTitle {
  @extend %body2Medium;

  $lineHeight: 2.4rem;

  max-width: 23.5rem;
  line-height: $lineHeight;
  text-transform: capitalize;
  transition: 0.4s;

  max-height: calc($lineHeight * 3);
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.scrollbar {
  margin-top: 2.4rem;
  height: 1.4rem;
  background: $lavender;
  border-radius: $borderRadiusSmall;

  .thumb {
    height: 100%;
    background: $text2;
    border-radius: $borderRadiusSmall;
  }
}

.moreBtn {
  position: absolute;
  right: 0;
  margin-top: 3.2rem;
}

.loader > div::after {
  background: $background2;
}
