$color-scheme-map: (
  'Light': (
    labelColor: $secondary3,
    labelBg: $background1,
    labelFocusBg: $background1,
    labelFocusColor: $primary2,
    inputBg: none,
    inputBorder: $secondary2,
    inputFilledBorder: $secondary2,
    inputColor: $secondary3,
    inputFocusBg: none,
    inputBorderFocus: $secondary4,
    inputBorderInvalid: $primary3,
  ),
  'Dark': (
    labelColor: $lavender,
    labelBg: $background3,
    labelFocusBg: $background3,
    labelFocusColor: $primary2,
    inputBg: $gray,
    inputBorder: transparent,
    inputFilledBorder: $secondary3,
    inputColor: $text2,
    inputFocusBg: none,
    inputBorderFocus: $secondary4,
    inputBorderInvalid: $primary3,
  ),
);
