@import './color-scheme.scss';

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  @each $theme, $colors in $color-scheme-map {
    &#{$theme} {
      &.inputWrapperFilled {
        .input {
          @include dynamic-input-styles(map-get($colors, inputFocusBg), map-get($colors, inputFilledBorder), 0.1rem);

          & ~ .label {
            @include dynamic-label-styles(map-get($colors, labelBg), map-get($colors, labelColor));
          }
        }
      }

      .label,
      .input::placeholder {
        @include dynamic-label-styles(none, map-get($colors, labelColor));
      }

      .input {
        @include dynamic-input-styles(map-get($colors, inputBg), map-get($colors, inputBorder), 0.05rem);
        color: map-get($colors, inputColor);

        &:focus-visible {
          @include dynamic-input-styles(map-get($colors, inputFocusBg), map-get($colors, inputBorderFocus), 0.05rem);

          & ~ .label {
            @include dynamic-label-styles(map-get($colors, labelFocusBg), map-get($colors, labelFocusColor));
          }
        }
      }

      &.inputWrapperInvalid .input {
        border: 0.1rem solid map-get($colors, inputBorderInvalid);
      }
    }
  }

  .input:focus-visible ~ .label,
  &Filled .label {
    @extend %fieldTitle;
    @extend %label-active;
  }
}

.input {
  @extend %fieldPlaceholder;
  @extend %input;

  &::placeholder {
    font-family: $bodyFont;
  }
}

.label {
  @extend %fieldPlaceholder;
  @extend %label;
}

.errorMessage {
  @extend %fieldDescription;

  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
  margin: 0.8rem 0 0 1.6rem;
  color: $primary3;

  img {
    user-select: none;
  }
}
