.management {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  position: relative;
}

.text {
  @include typography(body3);
}

.error {
  @include typography(body4);

  color: $primary3;
}

@media (max-width: 1158px) {
  .management {
    flex-direction: column;
    gap: 1.6rem;
  }
}
