.management {
  max-width: unset;
}

.text {
  @include typography(body3);
}

.error {
  @include typography(body4);

  color: $primary3;
}

@media (max-width: 1440px) {
  .management {
    padding: $gapLarge;
    gap: $gapExtraSmall;
  }
}

@media (max-width: 430px) {
  .management {
    padding-inline: $gapMedium;
  }
}
