.card {
  display: flex;
  height: 39.2rem;
  overflow: hidden;
  border-radius: $borderRadiusLarge;
  border: 0.05rem solid $background2;
  background: $text2;
}

.cover {
  max-width: 28.2rem;
  min-width: 28.2rem;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
}

.info {
  @include typography(body3);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: $gapMedium;
  padding: 3.2rem;
  padding-left: 4.8rem;
}

.type {
  color: $primary1;
  line-height: 2rem;
  text-transform: uppercase;
}

.title {
  @include typography(h3, bold);
}

.description {
  max-width: 58.8rem;
  flex-grow: 1;
}

.organizationInfo {
  td {
    padding: 0.4rem;
    line-height: 2.8rem;

    &:first-child {
      padding-left: 0;
      min-width: 12.4rem;
      color: $primary1;
    }
    &:last-child {
      @include typography(body3, medium);
      padding-right: 0;
    }
  }

  tr {
    &:first-child td {
      padding-top: 0;
    }
    &:last-child td {
      padding-bottom: 0;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.additionalInfo {
  display: flex;
  gap: $gapLarge;
  padding: 0.8rem 1.6rem;
  color: $primary1;
  border-radius: 0.6rem;
  background: #e1e1ee;

  span {
    display: flex;
    align-items: center;
    gap: $gapExtraSmall;
  }
}

@media (max-width: 1152px) {
  .card {
    padding: 2.4rem 1.6rem;
    border-radius: 0;
    display: flex;
    height: auto;
    overflow: visible;
    gap: 1.6rem;
  }

  .cover {
    max-width: 12rem;
    min-width: 12rem;
    max-height: 16.6rem;
    min-height: 16.6rem;
  }

  .info {
    padding: 0;
    gap: 0.8rem;
  }

  .description {
    display: none;
  }

  .organizationInfo tr {
    display: flex;
    flex-direction: column;
    td {
      padding: 0;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34rem;
    margin-left: -13.4rem;
    a {
      display: none;
    }
  }
}

@media (max-width: 359px) {
  .wrapper {
    width: 100%;
  }
}
