.block {
  padding-top: 10rem;
  background: $background3;
}

.title {
  @extend %h2;

  color: $primary2;
  margin-bottom: 6rem;
}

.contactForm {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: $gapLarge;
  padding-bottom: 9.5rem;
  border-bottom: 0.1rem solid $secondary3;
}

.input {
  width: 100%;
}

.sendBtn {
  margin: 0 3.85rem;
  min-width: 20.5rem;
  color: $primary2;
  background: none;
  border: 0.05rem solid $background1;
}
