.block {
  gap: $gapMedium;
  padding-block: 3.9rem 3.1rem;
  background: $gradient2;
  border: 0.05rem solid $primary2;
}

.arrow {
  background: $primary1;
}

.title {
  color: $primary1;
}

.link {
  color: $primary1;
  background: #dadbea80;
}

@media (max-width: 557px) {
  .block {
    padding: 2.4rem 1.6rem;
  }
}
