.btn {
  @extend %button;
  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;

  &Default {
    justify-content: center;
    width: 20.5rem;
    padding: 1.6rem 0;
    color: $text2;
    text-transform: uppercase;
    background: $primary3;

    &:hover,
    &:focus {
      @extend %buttonActive;
    }
  }

  //! &Wide {
  //   width: 28.2rem;
  //   height: 4rem;
  //   padding: 0.8rem 0;
  //   color: $text1;
  //   font-size: 2rem;
  //   font-weight: map-get($fontWeights, 'light');
  //   border: 0.05rem solid $text2;
  //   background: $background2;
  //   transition: 0.1s;

  //   &:hover,
  //   &:focus {
  //     font-weight: map-get($fontWeights, 'regular');
  //     border: 0.1rem solid $primary2;
  //   }

  //   &.active {
  //     font-weight: map-get($fontWeights, 'regular');
  //     pointer-events: none;
  //     border: none;
  //     background: $secondary4;
  //   }
  // }

  &Light {
    padding: 0.8rem 1.6rem;
    color: $background3_2;
    font-weight: map-get($fontWeights, 'medium');
    letter-spacing: 0.02em;
    border: 0.175rem solid $secondary2;

    img {
      margin-left: 0.8rem;
    }

    &:hover {
      border: 0.175rem solid $primary2;
    }
  }

  &Text {
    color: $primary1;
    transition: 0.4s;

    &:hover {
      @extend %buttonActive;
      color: $primary3;
      translate: 17% 0;

      .icon {
        transform: translateX(150%);
      }
    }
  }
}

.icon {
  transition: 0.4s;
}
