.department {
  @include typography(body4);

  letter-spacing: 0;

  &:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    color: $primary1;
    background: $background1;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    .name {
      font-weight: map-get($fontWeights, 'medium');
    }

    .dateTime {
      display: flex;
      gap: $gapExtraSmall;
    }
  }

  &Totals {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    font-weight: map-get($fontWeights, 'medium');
    border: 0.1rem solid $background1;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border: 0.1rem solid $background1;
  border-top: none;

  & > span {
    width: 12.2rem;

    &:first-child,
    &:last-child {
      font-weight: map-get($fontWeights, 'medium');
    }

    &:first-child {
      width: 17rem;
    }

    &:last-child {
      width: 4.8rem;
      text-align: end;
    }
  }

  .participants,
  .program {
    width: 8rem;
  }

  .danceClass {
    width: 3rem;
  }
}

.count {
  color: $primary2;
}

.group {
  display: none;
  flex-direction: column;
  width: 17rem;

  span:first-child {
    font-weight: map-get($fontWeights, 'medium');
  }
}

@media (max-width: 768px) {
  .department {
    line-height: 2rem;
  }

  .category {
    gap: $gapExtraSmall;

    .danceClass {
      width: 5rem;
      text-align: center;
    }
  }

  .categoryName,
  .participants,
  .program,
  .dances {
    display: none;
  }

  .group {
    display: flex;
  }
}
