.block {
  padding: 12rem 0;
  background: $background2;
}

.dances {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gapMedium;
}

.card {
  @include typography(body4, medium);

  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% / 4);
  color: $primary1;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  background: $text2;
  border: 0.05rem solid $background1;
  border-radius: $borderRadiusLarge;
  cursor: pointer;
  transition: 0.5s;

  .cover {
    height: 29.6rem;
    background: no-repeat top / cover;

    &[data-image='ballroom'] {
      background-image: url(assets/images/dances/ballroom-dance.webp);
    }
    &[data-image='street'] {
      background-image: url(assets/images/dances/street-dance.webp);
    }
    &[data-image='caribbean'] {
      background-image: url(assets/images/dances/caribbean-dance.webp);
    }
    &[data-image='other'] {
      background-image: url(assets/images/dances/other-dances.webp);
    }
  }

  &:has(+ *:hover),
  &:has(+ * + *:hover),
  &:has(+ * + * + *:hover),
  &:has(+ *:focus-visible),
  &:has(+ * + *:focus-visible),
  &:has(+ * + * + *:focus-visible) {
    width: 27.2rem;
  }

  &:hover,
  &:focus-visible {
    @include typography(body3, medium);

    width: 33.6rem;
    color: $primary3;
    outline: none;

    & + *,
    & + * + *,
    & + * + * + * {
      width: 27.2rem;
    }
  }
}

.name {
  padding-block: 3.2rem 4.8rem;
}

.styles {
  @include typography(body1);

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6.4rem;
  width: 100%;
  gap: $gapExtraSmall;
  font-family: $headlineFont;
  color: $primary2;
  line-height: 2.4rem;
  letter-spacing: 0;
  text-transform: capitalize;
}
