.block {
  padding-block: 12.8rem 27.4rem;
  min-height: 78rem;
  background: url(assets/images/backgrounds/ballroom-page-background.webp)
    no-repeat bottom / contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.banners {
  &Slider:hover .bannersNavigation {
    background: #f3f5f7cc;
  }

  &Navigation {
    background: #f3f5f7cc;
  }
}

.loader {
  margin-top: 15rem;
  width: 50%;
}

@media (max-width: 300px) {
  .block {
    min-height: 66rem;
    background-position: top left -2.2rem;
    background-size: 170% 39.2rem;
    margin-bottom: -12rem;
  }

  .bannersSlider {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .banners {
    &Slider:hover .bannersNavigation {
      background: none;
    }

    &Navigation {
      background: none;
    }
  }
}

@media screen and (min-width: 301px) and (max-width: 400px) {
  .block {
    min-height: 66rem;
    background-position: top left -2.2rem;
    background-size: 170% 39.2rem;
    margin-bottom: 1%;
  }

  .bannersSlider {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .banners {
    &Slider:hover .bannersNavigation {
      background: none;
    }

    &Navigation {
      background: none;
    }
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .block {
    min-height: 66rem;
    background-position: top left -2.2rem;
    background-size: 170% 39.2rem;
    margin-bottom: 10%;
  }

  .bannersSlider {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .banners {
    &Slider:hover .bannersNavigation {
      background: none;
    }

    &Navigation {
      background: none;
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .block {
    min-height: 66rem;
    background-position: top left -2.2rem;
    background-size: 170% 39.2rem;
    margin-bottom: 15%;
  }

  .bannersSlider {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .banners {
    &Slider:hover .bannersNavigation {
      background: none;
    }

    &Navigation {
      background: none;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  .block {
    min-height: 66rem;
    background-position: top left -2.2rem;
    background-size: 170% 39.2rem;
    margin-bottom: 20%;
  }

  .bannersSlider {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .banners {
    &Slider:hover .bannersNavigation {
      background: none;
    }

    &Navigation {
      background: none;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .block {
    min-height: 66rem;
    background-position: top left -2.2rem;
    background-size: 170% 39.2rem;
    margin-bottom: 25%;
  }

  .bannersSlider {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .banners {
    &Slider:hover .bannersNavigation {
      background: none;
    }

    &Navigation {
      background: none;
    }
  }
}
