.block {
  padding-block: 12.8rem 27.4rem;
  min-height: 78rem;
  background: url(assets/images/backgrounds/ballroom-page-background.webp) no-repeat bottom / contain;
}

.wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

.bannersNavigation {
  background: #f3f5f7cc;

  &:hover {
    background: #f3f5f7cc;
  }
}

.loader {
  margin-top: 15rem;
  width: 50%;
}
