.block {
  padding-block: 12.8rem 27.4rem;
  min-height: 78rem;
  background: url(assets/images/backgrounds/ballroom-page-background.webp) no-repeat bottom / contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.banners {
  &Slider:hover .bannersNavigation {
    background: #f3f5f7cc;
  }

  &Navigation {
    background: #f3f5f7cc;
  }
}

.loader {
  margin-top: 15rem;
  width: 50%;
}

@media (max-width: 557px) {
  .block {
    padding: 0;
    min-height: unset;
    height: 39.2rem;
    background: url(assets/images/backgrounds/ballroom-page-background.webp) no-repeat -40px bottom / cover;
  }

  .bannersSlider {
    display: none;
  }
}
