.article {
  display: flex;
  justify-content: space-between;
  gap: $gapMedium;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: $gapExtraSmall;
}

.tag {
  @include typography(body4);

  padding-inline: 1.2rem;
  color: $text2;
  border-radius: 0.8rem;
  background: $secondary2;
  text-transform: uppercase;
}

.author {
  @include typography(body4, medium);

  margin-top: 1.6rem;
}

.card {
  display: flex;
  max-width: 95rem;
  height: 28.4rem;
  overflow: hidden;
  border-radius: $borderRadiusLarge;
  border: 0.05rem solid $background2;
  background: $text2;
  cursor: pointer;
  transition: 0.15s;

  &:focus {
    outline: none;
  }

  &:focus-visible,
  &:hover {
    border: 0.05rem solid $lavender;
  }
}

.cover {
  max-width: 28.2rem;
  min-width: 28.2rem;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
}

.info {
  @include typography(body3);

  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: $gapMedium;
  padding: 3.2rem;
  padding-left: 4.8rem;
}

.title {
  @include typography(h3, bold);
}

.description {
  flex-grow: 1;
  max-height: 12.2rem;
  overflow: hidden;
}

.additionalInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date {
  @include typography(body4);

  text-transform: uppercase;
}

.views {
  @include typography(body4);

  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
  color: $primary1;
  line-height: 1.6rem;

  &Icon {
    width: 1.6rem;
    height: 1.6rem;
    mask: url(assets/icons/eye.svg);
    background: $primary1;
  }
}
