.article {
  display: flex;
  justify-content: space-between;
  gap: $gapMedium;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: $gapExtraSmall;
}

.tag {
  @include typography(body4);

  padding-inline: 1.2rem;
  color: $text2;
  border-radius: 0.8rem;
  background: $secondary2;
  text-transform: uppercase;
}

.author {
  @include typography(body4, medium);

  margin-top: 1.6rem;
}

.card {
  display: flex;
  max-width: 95rem;
  height: 28.4rem;
  overflow: hidden;
  border-radius: $borderRadiusLarge;
  border: 0.05rem solid $background2;
  background: $text2;
  cursor: pointer;
  transition: 0.15s;

  &:focus {
    outline: none;
  }

  @media (hover: hover) {
    &:focus-visible,
    &:hover {
      border: 0.05rem solid $lavender;
    }
  }
}

.cover {
  max-width: 28.2rem;
  min-width: 28.2rem;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
}

.info {
  @include typography(body3);

  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: $gapMedium;
  padding: 3.2rem;
  padding-left: 4.8rem;
}

.title {
  @include typography(h3, bold);
}

.description {
  flex-grow: 1;
  max-height: 12.2rem;
  overflow: hidden;
}

.additionalInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date {
  @include typography(body4);

  text-transform: uppercase;
}

.views {
  @include typography(body4);

  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
  color: $primary1;
  line-height: 1.6rem;

  &Icon {
    width: 1.6rem;
    height: 1.6rem;
    mask: url(assets/icons/eye.svg);
    background: $primary1;
  }
}

@media (max-width: 768px) {
  .article {
    position: relative;
  }

  .card {
    padding-top: 8rem;
    gap: 1.6rem;
    height: 24.5rem;
    padding-inline: 1.6rem;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .characteristic {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .tags {
    width: calc(100% + 1.6rem * 2);
    flex-direction: row;
    overflow-y: hidden;
    transform: translateX(-1.6rem);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tag {
    font-size: 1.4rem;
    line-height: 2.4rem;

    &:first-child {
      margin-left: 1.6rem;
    }
    &:last-child {
      margin-right: 1.6rem;
    }
  }

  .characteristic {
    width: 100%;
    justify-content: space-between;
    padding: 1.6rem 1.6rem 0;
    gap: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .author {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .cover {
    min-width: 12rem;
    height: 12rem;
    border-radius: 0.8rem;
  }

  .info {
    padding: 0;
    height: 12rem;
  }

  .title {
    font-size: 3.2rem;
    line-height: 2.4rem;
  }

  .description {
    line-height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .additionalInfo {
    display: flex;
    position: absolute;
    width: calc(100% - 1.6rem * 2);
    overflow: hidden;
    white-space: nowrap;
    bottom: 1.6rem;
    left: 50%;
    translate: -50% 0;
  }

  .date,
  .views {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
