.card {
  padding: 3.2rem;
  background: $text2;
  border: 0.05rem solid $background2;
  border-radius: $borderRadiusLarge;
}

.title {
  @include typography(h4);

  font-size: 4rem;
  font-weight: map-get($fontWeights, 'medium');
  margin-bottom: 0.8rem;
}

.subtitle {
  @include typography(body4, light);
}

.line {
  margin: 3.2rem 0;
  height: 0.15rem;
  background: $background2;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: $gapLarge;
  width: min-content;
  max-height: 40rem;

  &Section {
    display: flex;
    flex-direction: column;
    gap: $gapExtraSmall;

    &:nth-child(-n + 2) {
      width: 25rem;
    }
  }
}

.sectionTitle {
  @include typography(body2, light);

  color: $primary2;
  line-height: 2.4rem;
  margin-bottom: 0.8rem;
}

.address,
.contact,
.bankDetails,
.email {
  @include typography(body4, medium);
}

.contact,
.email {
  color: $primary1;
}

.bankDetails {
  .sectionTitle {
    margin-bottom: 0;
  }

  table {
    width: max-content;
    border-collapse: separate;
    margin-bottom: 2.4rem;
  }

  tbody {
    display: flex;
    flex-direction: column;
    gap: $gapMedium;
  }

  tr {
    display: flex;
    gap: $gapMedium;
  }

  td:first-child {
    display: inline-block;
    width: 16rem;
    font-weight: map-get($fontWeights, 'light');
    letter-spacing: 0;
  }

  td:last-child {
    display: inline-block;
  }
}

.email {
  margin-top: -1.6rem;
}

.address p {
  line-height: 3.2rem;
}
