.menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.6rem 1.6rem 4rem 4rem;
  width: 44rem;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  border-radius: $borderRadiusLarge;
  border: 0.1rem solid $text2;
  background: $background2;
  transition: 0.5s;
  z-index: 999999;

  &Open {
    pointer-events: all;
    user-select: unset;
    opacity: 1;
  }
}

.header {
  @include typography(body3, medium);

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary1;
  line-height: 2.2rem;
  margin-bottom: 4.4rem;
}

.links {
  @include typography(h3, medium);

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-right: 2.4rem;
  color: $text1;
}

.link {
  display: block;
  position: relative;
  width: 100%;
  transition: 0.3s;

  img {
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    translate: -200% -50%;
    transition: 0.3s;
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: $primary1;
      outline: none;

      img {
        opacity: 1;
        translate: 0 -50%;
      }
    }
  }

  &.active {
    color: $primary1;
    pointer-events: none;
  }
}

@media (max-width: 557px) {
  .menu {
    position: fixed;
    padding-left: 3.2rem;
    padding-bottom: 3.2rem;
    width: 36rem;
    top: 1.6rem;
    opacity: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    translate: 125% 0;

    &Open {
      translate: 0 0;

      & ~ .background {
        pointer-events: all;
        opacity: 30%;
      }
    }
  }

  .header {
    @include typography(body1, medium);
    margin-bottom: 3.2rem;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $background2;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1;
  }

  .link.active {
    translate: 1.6rem 0;
  }
}
