.block {
  gap: $gapLarge;
  padding-block: 3.1rem 3.9rem;
  color: $text2;
  background: $gradient1;
  border: 0.05rem solid $lavenderDark;
}

.item {
  padding-block: 1.55rem;
  border-color: $secondary4;

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0 !important;
  }
}

.arrow {
  background: $text2;
}

.info {
  @include typography(buttonSmall, light);

  display: flex;
  align-items: center;
  gap: $gapLarge;
  letter-spacing: 0.02em;
  margin-bottom: 0.8rem;

  time,
  address {
    display: flex;
    align-items: center;
    gap: $gapExtraSmall;
  }

  .calendarIcon,
  .markerIcon {
    width: 1.4rem;
    height: 1.6rem;
    background: $text2;
  }
  .calendarIcon {
    mask: url(assets/icons/calendar-small.svg);
  }
  .markerIcon {
    mask: url(assets/icons/marker-small.svg);
  }
}

.text {
  @include typography(body3);
}

@media (max-width: 557px) {
  .block {
    padding: 2.4rem 1.6rem;
  }

  .info {
    flex-direction: column;
    align-items: baseline;
    gap: 0.8rem;
  }

  .titleСalendar {
    font-size: 1.6rem;
  }

  .competition {
    margin-left: 0.4rem;
  }
}
