.btn {
  @extend %button;
  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;

  &Default {
    justify-content: center;
    width: 20.5rem;
    padding: 1.6rem 0;
    color: $text2;
    text-transform: uppercase;
    background: $primary3;

    &:hover,
    &:focus {
      @extend %buttonActive;
    }
  }

  &Light {
    padding: 0.8rem 1.6rem;
    color: $background3_2;
    font-weight: map-get($fontWeights, 'medium');
    letter-spacing: 0.02em;
    border: 0.175rem solid $secondary2;

    img {
      margin-left: 0.8rem;
    }

    &:hover {
      border: 0.175rem solid $primary2;
    }
  }
}
