.toggleButton {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;
  border: 0.1rem solid $background2;
  transition: 0.15s;

  &:has(.btn:hover, .btn:focus-visible) {
    border: 0.1rem solid $primary2;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $background2;
    z-index: -2;
  }

  .btn {
    @extend %body2Light;

    padding-block: 0.8rem;
    width: calc(100% / var(--tabsLength));
    line-height: 2.4rem;
    letter-spacing: 0;
    text-transform: capitalize;

    &Active {
      font-weight: map-get($fontWeights, 'regular');
      pointer-events: none;
    }
  }
}

.indicator {
  position: absolute;
  height: 100%;
  border-radius: $borderRadius;
  width: calc(100% / var(--tabsLength));
  background: $secondary4;
  transition: 0.3s;
  z-index: -1;
}
