%label {
  position: absolute;
  top: 2.8rem;
  left: 1.6rem;
  pointer-events: none;
  user-select: none;
  transform: translateY(-50%);
  transition: $transitionDuration;
}

%label-active {
  padding: 0.2rem 0.8rem;
  top: 0;
  left: 0.8rem;
}

%input {
  padding: 1.5rem;
  width: 100%;
  border-radius: $borderRadius;
  background: none;
  transition: border $transitionDuration, background $transitionDuration;
}

%avatar {
  position: relative;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $background1;
  overflow: hidden;
}

%avatarPlaceholder {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 40%;
    height: 40%;
    background: $background2;
    border-radius: 50%;
    translate: -50% -50%;
  }

  &::after {
    top: 100%;
    left: 50%;
    width: 70%;
    height: 70%;
  }
}
