%label {
  position: absolute;
  top: 2.8rem;
  left: 1.6rem;
  pointer-events: none;
  user-select: none;
  transform: translateY(-50%);
  transition: $transitionDuration;
}

%label-active {
  padding: $paddingLabel;
  top: 0;
  left: 0.8rem;
}

%input {
  padding: 1.5rem;
  width: 100%;
  border-radius: $borderRadius;
  background: none;
  transition: border $transitionDuration, background $transitionDuration;
}

%h1 {
  @include headlineText(h1, bold);
}

%h2 {
  @include headlineText(h2, bold);
}

%h3 {
  @include headlineText(h3, regular);
}

%h4 {
  @include headlineText(h4, regular);
}

%logoText {
  @include headlineText(logoText, bold);
}

%body1Light {
  @include bodyText(body1, light);
}

%body1Regular {
  @include bodyText(body1, regular);
}

%body1Medium {
  @include bodyText(body1, medium);
}

%body2Light {
  @include bodyText(body2, light);
}

%body2Regular {
  @include bodyText(body2, regular);
}

%body2Medium {
  @include bodyText(body2, medium);
}

%body3Regular {
  @include bodyText(body3, regular);
}

%body3Medium {
  @include bodyText(body3, medium);
}

%body4Light {
  @include bodyText(body4, light);
}

%body4Regular {
  @include bodyText(body4, regular);
}

%body4Medium {
  @include bodyText(body4, medium);
}

%button {
  @include buttonText(button, medium, $letterSpacing);
}

%buttonActive {
  @include buttonText(buttonActive, medium, $letterSpacing);
}

%buttonSmall {
  @include buttonText(buttonSmall, regular, 0.02em);
}

%fieldPlaceholder {
  @include fieldText(fieldPlaceholder);
}

%fieldTitle {
  @include fieldText(fieldTitle);
}

%fieldDescription {
  @include fieldText(fieldDescription);
}
