.link {
  @include typography(button, medium);

  display: inline-block;
  position: relative;
  color: $primary1;
  overflow: hidden;
  transition: 0.3s;
  text-transform: uppercase;

  .arrow {
    position: absolute;
    top: 50%;
    transition: 0.3s;
    translate: 0 -50%;
  }

  &.toLeft {
    padding-left: 2.3rem;

    .arrow {
      left: 0;
      rotate: 180deg;
    }
  }

  &.toRight {
    padding-right: 2.3rem;

    .arrow {
      right: 0;
    }
  }

  @media (hover: hover) {
    &:not(.external, .button, .download) {
      &:focus-visible,
      &:hover {
        @include typography(buttonActive, medium);

        color: $primary3;
        padding: 0 0.6rem;
        outline: none;

        &.toLeft .arrow {
          translate: -150% -50%;
        }
        &.toRight .arrow {
          translate: 150% -50%;
        }
      }
    }
  }

  &.button {
    @include typography(body2, light);

    padding: 0.8rem 0;
    width: 28.2rem;
    max-height: 4rem;
    color: $text1;
    line-height: 2.4rem;
    background: $background2;
    border-radius: $borderRadius;
    border: 0.05rem solid $text2;
    letter-spacing: 0;
    text-transform: none;
    text-align: center;

    @media (hover: hover) {
      &:focus-visible,
      &:hover {
        outline: none;
        font-weight: map-get($fontWeights, 'regular');
        border: 0.1rem solid $primary2;
      }
    }

    &.active {
      font-weight: map-get($fontWeights, 'regular');
      background: $secondary4;
      pointer-events: none;
    }
  }

  &.pinkButton {
    padding: 1.6rem 3.8rem;
    padding-left: 7rem;
    color: $text2;
    background: $primary3;
    border-radius: $borderRadius;

    .arrow {
      translate: 3.8rem -50%;
      rotate: 0deg;
    }

    @media (hover: hover) {
      &:focus-visible,
      &:hover {
        color: $text2;
        padding: 1.6rem 4.55rem;

        .arrow {
          opacity: 0;
        }
      }
    }
  }
}

.default {
  color: $primary1;

  @media (hover: hover) {
    background: linear-gradient(to bottom, transparent 0%, transparent 90%, $primary1 90%, $primary1 100%) no-repeat
      right / 0% 100%;
    transition: background-size 0.25s;

    &:focus-visible,
    &:hover {
      outline: none;
      background-size: 100% 100%;
      background-position-x: left;
    }
  }
}

@media (max-width: 768px) {
  .link.button {
    width: auto;
    padding: 0.8rem 1.2rem;
  }
}
