.calendar {
  padding-block: 12.8rem 12rem;
  min-height: 80vh;
}

.titleWrapper {
  margin-bottom: 4rem;
}

.title,
.subtitle {
  display: inline-block;
}

.title {
  @include typography(h2, bold);
}

.subtitle {
  @include typography(body3);

  margin-left: 1.6rem;
  text-transform: uppercase;
}

.text {
  @include typography(body3);
}

.pageContent {
  display: flex;
  gap: $gapLarge;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 28.2rem;
  width: 100%;

  .tenseBtn {
    @include typography(body4, medium);
    padding-block: 1.2rem;
    color: $primary1;
  }
}

.events {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $gapLarge;
}

@media (max-width: 557px) {
  .calendar {
    padding-block: 10.4rem 6.4rem;
  }

  .subtitle {
    margin-left: 0.8rem;
  }

  .titleWrapper {
    margin-bottom: 2.4rem;
  }

  .events {
    gap: 1.6rem;
  }
}
