.calendar {
  padding-block: 12.8rem 12rem;
  min-height: 80vh;
}

.titleWrapper {
  margin-bottom: 4rem;
}

.title,
.subtitle {
  display: inline-block;
}

.title {
  @include typography(h2, bold);
}

.subtitle {
  @include typography(body3);

  margin-left: 1.6rem;
  text-transform: uppercase;
}

.text {
  @include typography(body3);
}

.events {
  display: flex;
  flex-direction: column;
  gap: $gapLarge;
}
