.block {
  padding-block: 12.8rem 10rem;
  background: url(assets/images/backgrounds/world.webp) no-repeat center / cover;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: $gapLarge;
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: $gapLarge;
  margin-top: 32.8rem;
}

.title {
  @extend %h1;

  color: $text2;
  font-size: 8.8rem;
  max-width: 58.8rem;
}

.sliderWrapper {
  width: 58.8rem;
}

.bannersSlider {
  z-index: 0;
}

.navigation {
  display: flex;
  align-items: center;
  gap: $gapMedium;
  margin: 0 auto;
  margin-top: 1.6rem;
  padding: 0.4rem 0.8rem;
  width: min-content;
  border-radius: $borderRadiusLarge;
  transition: 0.3s;

  &:hover {
    background: #dadbea4d;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: $gapSmall;
}

.bullet {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: $background2;
  border-radius: $borderRadiusSmall;
  transition: 0.4s;

  &Active {
    width: 1.6rem;
    background: $primary2;
  }
}

.loader {
  width: 50%;
}

.error {
  height: min-content;
}
