$hue: 236;

$background1: hsl(calc($hue - 26), 20%, 96%); // #F3F5F7
$background2: hsl($hue, 28%, 89%); // #DADBEA
$background3: hsl(calc($hue - 1), 38%, 13%); // #14162D
$background3_2: hsl($hue, 39%, 21%); // #21244B

$primary1: hsl($hue, 39%, 42%); // #424895
$primary2: hsl(calc($hue - 160), 71%, 44%); // #96C121
$primary3: hsl(calc($hue + 94), 100%, 45%); // #E50074

$secondary1: hsl($hue, 38%, 25%); // #282B59
$secondary2: hsl($hue, 28%, 71%); // #A1A4CA
$secondary3: hsl($hue, 28%, 60%); // #7B7FB5
$secondary4: hsl(calc($hue - 162), 79%, 53%); // #BAE629

$text1: hsl(calc($hue + 4), 36%, 4%); // #07070F
$text2: hsl(calc($hue - 236), 0%, 100%); // #FFFFFF

$lavenderDark: hsl(calc($hue - 1), 28%, 54%); // #686DAA
$lavender: hsl($hue, 28%, 65%); // #8E91BF
$gray: hsl(calc($hue - 1), 21%, 21%); // #2A2C41

$gradient1: linear-gradient(90.5deg, $lavenderDark 0%, $lavender 100%);
$gradient2: linear-gradient(90.5deg, $primary2 0%, $secondary4 100%);
$gradient3: linear-gradient(90deg, $secondary1 0%, $primary1 100%);
$gradient4: linear-gradient(90deg, $secondary2 0%, $lavender 100%);
