@font-face {
  font-family: $mainFontFamily;
  src: url('assets/fonts/Inter-Light.ttf');
  font-weight: $fontWeightLight;
}

@font-face {
  font-family: $mainFontFamily;
  src: url('assets/fonts/Inter-Regular.ttf');
  font-weight: $fontWeightRegular;
}

@font-face {
  font-family: $mainFontFamily;
  src: url('assets/fonts/Inter-Medium.ttf');
  font-weight: $fontWeightMedium;
}

@font-face {
  font-family: $titleFontFamily;
  src: url('assets/fonts/Glametrix-Light.otf');
  font-weight: $fontWeightLight;
}

@font-face {
  font-family: $titleFontFamily;
  src: url('assets/fonts/Glametrix.otf');
  font-weight: $fontWeightRegular;
}

@font-face {
  font-family: $titleFontFamily;
  src: url('assets/fonts/Glametrix-Bold.otf');
  font-weight: $fontWeightBold;
}
