@mixin dynamic-label-styles($bgColor, $textColor) {
  color: $textColor;
  background: $bgColor;
}

@mixin dynamic-input-styles($bgColor, $borderColor, $borderWidth) {
  border: $borderWidth solid $borderColor;
  background: $bgColor;
}

@mixin headlineText($size, $weight) {
  font-family: $headlineFont;
  font-size: map-get($fontSizes, $size);
  font-weight: map-get($fontWeights, $weight);
  line-height: map-get($lineHeights, $size);
}

@mixin bodyText($size, $weight) {
  font-size: map-get($fontSizes, $size);
  font-weight: map-get($fontWeights, $weight);
  line-height: map-get($lineHeights, $size);
  letter-spacing: 0.02em;
}

@mixin buttonText($size, $weight, $spacing) {
  font-size: map-get($fontSizes, $size);
  font-weight: map-get($fontWeights, $weight);
  line-height: map-get($lineHeights, $size);
  letter-spacing: $spacing;
  text-transform: uppercase;
}

@mixin fieldText($size) {
  font-size: map-get($fontSizes, $size);
  font-weight: map-get($fontWeights, 'regular');
  line-height: map-get($lineHeights, $size);
  letter-spacing: $letterSpacing;
}
