%label {
  position: absolute;
  top: 2.8rem;
  left: 1.6rem;
  font-size: $fontSizeRegular;
  font-weight: map-get($fontWeights, 'regular');
  line-height: 2.4rem;
  letter-spacing: $letterSpacing;
  pointer-events: none;
  user-select: none;
  transform: translateY(-50%);
  transition: $transitionDuration;
}

%label-active {
  padding: $paddingLabel;
  top: 0;
  left: 0.8rem;
  font-size: $fontSizeRegular;
  line-height: $lineHeightLabel;
  letter-spacing: $letterSpacing;
}

%input {
  padding: 1.5rem;
  font-size: $fontSizeRegular;
  line-height: 2.4rem;
  letter-spacing: $letterSpacing;
  border-radius: $borderRadius;
  background: none;
  transition: border $transitionDuration, background $transitionDuration;
}
