.arrowWrapper.default {
  position: relative;
  height: 2.4rem;
  aspect-ratio: 1/1;
  cursor: pointer;

  .arrow {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 0.8rem;
    height: 1.6rem;
    mask: url(assets/icons/angle-left-light.svg) no-repeat center;
    background: $background2;
    transition: 0.3s;

    &:first-child {
      left: 0.4rem;
    }
    &:last-child {
      right: 0.4rem;
    }
  }

  &:hover .arrow {
    background: $primary2;

    &:first-child {
      translate: 100% -50%;
    }
    &:last-child {
      translate: -100% -50%;
    }
  }

  &:last-child {
    rotate: 180deg;
  }
}

.arrowWrapper.expand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2.4rem;
  width: 1.8rem;
  transition: 0s;

  .arrow {
    position: absolute;
    width: 1.8rem;
    height: 1rem;
    mask: url(assets/icons/angle-down-purple.svg) no-repeat center;
    background: $primary1;
    transition: 0.4s;
  }

  &:hover .arrow {
    background: $primary2;
    translate: 0 calc($gapExtraSmall / 2);
    &:last-child {
      translate: 0 calc($gapExtraSmall / 2 * -1);
    }
  }

  &.open {
    rotate: 180deg;

    .arrow {
      translate: 0 calc($gapExtraSmall / 2 * -1);
      &:last-child {
        translate: 0 calc($gapExtraSmall / 2);
      }
    }

    &:hover .arrow {
      translate: 0 calc($gapExtraSmall / 2);
      &:last-child {
        translate: 0 calc($gapExtraSmall / 2 * -1);
      }
    }
  }
}

.arrowWrapper.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3.2rem;
  width: 3.2rem;
  transition: 0s;

  .arrow {
    position: absolute;
    width: 1.8rem;
    height: 1rem;
    mask: url(assets/icons/angle-down-purple.svg) no-repeat center;
    background: $primary1;
    transition: 0.4s;
  }

  &:hover .arrow {
    background: $primary2;
    translate: 0 calc($gapExtraSmall / 2);
    &:last-child {
      translate: 0 calc($gapExtraSmall / 2 * -1);
    }
  }

  &.open {
    rotate: 180deg;

    .arrow {
      translate: calc($gapExtraSmall / 2) 0;
      rotate: 90deg;
      &:last-child {
        translate: calc($gapExtraSmall / 2 * -1) 0;
        rotate: -90deg;
      }
    }

    &:hover .arrow {
      translate: 0 calc($gapExtraSmall / 2);
      rotate: 0deg;
      &:last-child {
        translate: 0 calc($gapExtraSmall / 2 * -1);
        rotate: 0deg;
      }
    }
  }
}
