.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 2.4rem;

  &Dark {
    color: $text2;
  }
}

.logo {
  @extend %logoText;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation {
  @extend %button;

  display: flex;
  align-items: center;
  gap: 2.4rem;

  &Link {
    padding: 0.8rem;
  }
}
