.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 2.4rem;
  z-index: 1;

  button {
    color: $text1;
  }

  &Dark {
    color: $text2;

    .navigation {
      &Link,
      button {
        color: $text2;

        &:hover {
          color: $secondary4;
        }
      }
    }
  }
}

.logo {
  @extend %logoText;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  &Link,
  button {
    @extend %button;

    padding: 0.8rem;
    line-height: 2.2rem;
    text-transform: none;
    transition: 0.2s;

    &:hover {
      @extend %buttonActive;
      padding-inline: 0.5rem;
      color: $primary1;
      text-transform: none;
    }
  }
}
