.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 2.4rem;

  &Dark {
    color: $text2;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: $titleFontFamily;
  font-size: 3.2rem;
  font-weight: map-get($fontWeights, 'bold');
  line-height: 3.2rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: $fontSizeRegular;
  font-weight: map-get($fontWeights, 'medium');
  line-height: 2.4rem;
  letter-spacing: 0.05em;

  &Link {
    padding: 0.8rem;
  }
}
