.container {
  @include typography(body4);

  width: 100%;
  border-radius: $borderRadius;
  background: $background2;
  border: 0.05rem solid $text2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  cursor: pointer;

  .name {
    text-transform: uppercase;
  }

  .flagIcon {
    margin-right: 1.6rem;
    border-radius: 0.4rem;
  }

  &.opened {
    justify-content: start;
  }
}

.content {
  padding-inline: 2.4rem;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-out;

  &.open {
    max-height: 30rem;
    padding-bottom: 2.4rem;
  }
}

.dropdownArrow {
  margin-left: auto;
}

.infoTable {
  width: 100%;

  caption {
    @include typography(body3, medium);

    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
    line-height: 2.664rem;
    text-align: left;
    border-bottom: 0.05rem solid $secondary2;
  }

  tr {
    &:first-child td {
      padding-top: 0;
    }
    &:last-child td {
      padding-bottom: 0;
    }
  }

  td {
    display: inline-block;
    padding-block: 0.4rem;

    a {
      transition: 0.2s;
    }

    @media (hover: hover) {
      a:hover,
      a:focus-visible {
        color: $primary1;
        outline: none;
      }
    }

    &:first-child {
      color: $lavenderDark;
      text-transform: lowercase;
      width: 10rem;
      margin-right: 0.8rem;
    }
  }
}

@media (max-width: 557px) {
  .container {
    border-radius: 0;
  }

  .header {
    padding: 2.4rem 1.6rem 1.6rem;
  }

  .content {
    padding: 0 1.6rem 2.4rem;
  }

  .infoTable {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 0 1.6rem 2.4rem;

    caption {
      font: inherit;
      font-weight: map-get($fontWeights, medium);
    }

    td {
      padding-block: 0.2rem;
    }

    a:active {
      color: $primary1;
    }
  }
}
