.dropdown {
  display: inline-block;
  position: relative;

  &Input,
  &Button {
    @include typography(body4);

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary3;
    width: 100%;
    padding: 1.5rem;
    text-transform: capitalize;
    background: none;
    border: 0.05rem solid $secondary2;
    border-radius: $borderRadius;

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.filled {
      color: $text1;
    }

    &:focus-visible {
      border: 0.05rem solid $primary1;
    }

    &::placeholder {
      color: $secondary3;
    }
  }

  &Input ~ .arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    translate: 0 -50%;
  }

  &List {
    position: absolute;
    top: calc(100% - 0.05rem);
    width: 100%;
    max-height: 0;
    padding-inline: 0.79rem;
    opacity: 0;
    overflow: hidden;
    background: $background1;
    border: 0.05rem solid $secondary2;
    border-top: 0.1rem solid $primary1;
    border-radius: $borderRadius;
    transition: 0.4s;

    .thumb {
      width: 0.8rem;
      border-radius: 0.4rem;
      background: $background2;
    }

    .scrollbar {
      margin-right: 0.2rem;
      background: none;
    }

    &:not(.scrollable) {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }

    &.open {
      padding-block: 0.79rem;
      max-height: 41.2rem;
      opacity: 1;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      .dropdownItem {
        padding-block: 0.8rem;
      }

      &.scrollable {
        height: 41.2rem;
      }
    }

    &:has(.hugeList) {
      padding: 0;
    }
  }

  &Item {
    @include typography(body4);

    width: 100%;
    padding-inline: 0.8rem;
    line-height: 2rem;
    border-radius: $borderRadiusSmall;
    cursor: pointer;
    transition: 0.2s;
    text-align: left;
    text-transform: capitalize;

    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        background-color: $background2;
      }
    }

    &.selectedItem {
      background-color: $background2;
    }

    &.selectedItem {
      pointer-events: none;
    }
  }
}

.hugeList .dropdownItem {
  margin-inline: 0.8rem;
}

.optionsList {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.arrow {
  width: 1.2rem;
  height: 2.4rem;
  mask: url(assets/icons/angle-down-dropdown.svg);
  background: $secondary3;

  &.open {
    rotate: 180deg;
  }
}
