.dropdown {
  border: 0.05rem solid $background2;
  border-radius: $borderRadius;
  background: $text2;

  &Btn {
    @include typography(body2, medium);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 3.2rem;
    line-height: 3.2rem;
    transition: 0.5s;

    &.open {
      @include typography(body1, medium);

      padding-top: 3.2rem;
    }
  }
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.5s ease-in;

  &.open {
    grid-template-rows: 1fr;

    .contentInner {
      padding-bottom: 3.2rem;
    }
  }

  &Inner {
    padding-inline: 3.2rem;
    overflow: hidden;
    transition: 0.5s ease-in;
  }
}

@media (max-width: 1152px) {
  .dropdown {
    border-radius: 0;
  }
}
