.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 108rem;
  background: url(assets/images/backgrounds/try-again.webp) no-repeat bottom / cover;
}

.wrapper {
  margin-top: -15rem;
}

.title {
  @include typography(h1, bold);

  color: $text2;
  text-transform: capitalize;
}

.text {
  @include typography(body2, medium);

  margin-block: 1.6rem 4rem;
  color: $secondary1;
}

.buttonsWrapper {
  display: flex;
  gap: $gapLarge;
}

.btn {
  width: 24rem;
}

.mainPageBtn {
  color: $primary1;
  background: $background2;
}
