.block {
  padding-block: 12.8rem 12rem;
  min-height: 90vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.news {
  display: flex;
  gap: 4.8rem;
}

.media {
  display: flex;
  flex-direction: column;
  gap: $gapLarge;
  width: 48.6rem;

  .image {
    width: 100%;
    border-radius: $borderRadiusLarge;
  }
}

.date {
  @extend %body4Regular;

  text-transform: uppercase;
  line-height: 1.6rem;
}

.title {
  @extend %h2;

  margin: 1.6rem 0;
  font-size: 6.4rem;
}

.description {
  @extend %body1Regular;

  letter-spacing: 0;
}

.content {
  @extend %body2Regular;

  display: flex;
  flex-direction: column;
  gap: $gapLarge;
  margin-top: 8rem;

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4,
  h5,
  h6 {
    @extend %h4;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  blockquote {
    @extend %body1Light;

    margin: 2.4rem 0;
    padding: 2.4rem;
    color: $primary1;
    background: $background2;
    border-radius: $borderRadius;
  }
}

.text {
  @extend %body3Regular;
}
