.block {
  padding-block: 12.8rem 12rem;
  min-height: 90vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.news {
  display: flex;
  gap: 4.8rem;
}

.media {
  display: flex;
  flex-direction: column;
  gap: $gapLarge;
}

.image {
  width: 48.6rem;
  border-radius: $borderRadiusLarge;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $gapExtraSmall;
}

.tag {
  @include typography(body4);

  padding-inline: 1.2rem;
  color: $text2;
  border-radius: 0.8rem;
  background: $secondary2;
  text-transform: uppercase;
}

.title {
  @include typography(h2, bold);

  margin-block: 1.6rem;
  font-size: 6.4rem;
}

.description {
  @include typography(body1);

  letter-spacing: 0;
}

.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 4.8rem 2.4rem;
}

.date {
  @include typography(body4);

  text-transform: uppercase;
}

.author {
  @include typography(body4, medium);
}

.line {
  height: 0.1rem;
  background: $lightGray;
}

.promotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 4.8rem;
}

.shareBtn {
  width: 16rem;
}

.views {
  @include typography(body4);

  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
  color: $primary1;
  line-height: 1.6rem;

  &Icon {
    width: 1.6rem;
    height: 1.6rem;
    mask: url(assets/icons/eye.svg);
    background: $primary1;
  }
}

.content {
  @include typography(body2);

  display: flex;
  flex-direction: column;
  gap: $gapLarge;

  h1 {
    @include typography(h1, bold);
  }

  h2 {
    @include typography(h2, bold);
  }

  h3 {
    @include typography(h3);
  }

  h4,
  h5,
  h6 {
    @include typography(h4);
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  blockquote {
    @include typography(body1, light);

    margin: 2.4rem 0;
    padding: 2.4rem;
    color: $primary1;
    background: $background2;
    border-radius: $borderRadius;
  }

  strong {
    font-weight: map-get($fontWeights, 'medium');
  }

  em {
    font-style: italic;
  }

  a {
    color: $primary1;
    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.text {
  @include typography(body3);
}

.shareBox {
  transition: 0.5s;
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

@media (min-width: 769px) {
  .media.mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .block {
    padding-block: 10.4rem 6.4rem;
  }

  .news {
    flex-direction: column;
  }

  .navigation {
    margin-bottom: 3.2rem;
  }

  .media {
    .mobile {
      margin-top: 3.2rem;
    }

    &:not(.mobile) {
      display: none;
    }
  }

  .image {
    margin-inline: -1.6rem;
    width: calc(100% + 1.6rem * 2);
    border-radius: 0;
  }

  .credits {
    margin-block: 3.2rem 2.4rem;
  }

  .promotion {
    margin-block: 2.4rem 3.2rem;
  }
}
