.filterWrapper {
  display: none;
}

@media (max-width: 768px) {
  .filterWrapper {
    display: block;
  }
  .filterBtn {
    width: 5.6rem;
    height: 5.6rem;
    border: 0.05rem solid #a1a4ca;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filterMenu {
    position: absolute;

    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    z-index: 1;
    overflow-y: auto;
    padding: 1.6rem;
    box-sizing: border-box;
  }

  .boxBtn {
    display: flex;
    margin-top: 1.6rem;
    width: 100%;
    gap: 1.6rem;
    justify-content: center;
  }

  .searchBtn,
  .clearFilters {
    width: 16.8rem;
    height: 4.8rem;
  }
}

.filterWrapper svg path {
  stroke: #7b7fb5;
}

.filterWrapper svg.svgOpen path {
  stroke: #424895;
}
