.page {
  padding-block: 12.8rem 12rem;
  min-height: 80vh;
}

.title {
  @extend %h2;
}

.subtitle {
  @extend %body2Regular;

  margin-block: 0.8rem 4rem;
  max-width: 50%;
}

.members {
  display: flex;
  flex-wrap: wrap;
  gap: $gapLarge;
}

.member {
  width: calc(100% / 3 - $gapMedium);

  .card {
    width: 100%;
    max-width: unset;
  }
}
