.page {
  padding-block: 12.8rem 12rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.info {
  display: flex;
  gap: 3.2rem;
}

.title {
  @include typography(h2);

  margin-top: 0.8rem;
  font-size: 6.4rem;
}

.cover {
  border-radius: $borderRadiusLarge;
  width: 38.4rem;
  height: 54.3rem;
}

.information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.type {
  @include typography(body3);

  color: $primary1;
  text-transform: uppercase;
}

.status {
  @include typography(body4);

  padding: 0.3rem 1.1rem;
  color: $secondary1;
  letter-spacing: 0;
  border-radius: 0.8rem;
  border: 0.1rem solid $primary3;
  text-align: center;

  &.open {
    border-color: $primary2;
  }
}

.additionalInfo {
  @include typography(body3);

  display: flex;
  gap: $gapLarge;
  margin-block: 2.4rem;
  padding: 0.8rem 1.6rem;
  color: $primary1;
  border-radius: 0.8rem;
  background: #e1e1ee;

  span {
    display: flex;
    align-items: center;
    gap: $gapExtraSmall;
  }
}

.table tbody {
  @include typography(body3);

  display: flex;
  flex-direction: column;
  row-gap: $gapExtraSmall;

  tr {
    display: flex;
    align-items: center;
    gap: $gapExtraSmall;
  }

  td {
    line-height: 2.8rem;

    &:first-child {
      min-width: 14rem;
      color: $primary1;
      letter-spacing: 0;
    }

    &:last-child {
      @include typography(body3, medium);
    }
  }
}

.buttons {
  display: flex;
  gap: 1.6rem;
  margin-block: 3.2rem 7.2rem;
}

.firstBtn {
  width: 20rem;
  background-color: $secondary3;
}

.secondBtn {
  width: 20rem;
  border: 0.15rem solid $secondary3;
}

.tabs {
  display: flex;
  gap: 0.8rem;
  align-items: end;
  margin-right: 1.4rem;
  overflow: hidden;
}

.tab {
  @include typography(body4);

  padding: 1.6rem 3.2rem;
  padding-bottom: 0.8rem;
  color: $secondary3;
  line-height: 3.2rem;
  text-transform: capitalize;
  border: 0.1rem solid $background2;
  border-top-left-radius: $borderRadiusLarge;
  border-top-right-radius: $borderRadiusLarge;
  border-bottom: none;
  transition: 0.3s;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      padding-bottom: 1.6rem;
      border-color: $primary2;
    }
  }

  &.active {
    padding-bottom: 1.6rem;
    color: $text1;
    background: $text2;
    pointer-events: none;
  }

  &Inner {
    max-width: 78.4rem;
    padding: 3.2rem;
    border: 0.1rem solid $background2;
    border-top: none;
    border-radius: 1.4rem;
    border-top-left-radius: 0;
    background: $text2;
  }
}
