.page {
  padding-top: 28rem;
  height: 108rem;
  background: url(assets/images/backgrounds/404-background.jpg) no-repeat top / cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: $text2;
}

.title {
  @extend %h1;

  font-size: 8.8rem;
}

.subtitle {
  @extend %body1Medium;

  margin-block: 0.8rem 1.6rem;
  text-transform: uppercase;
}

.text {
  @extend %body3Medium;

  color: $text1;
}

.btn {
  margin-top: 3.2rem;
}
