.page {
  padding-block: 12.8rem 12rem;
  min-height: 100vh;

  &Content {
    display: flex;
    gap: $gapLarge;
  }
}

.title {
  @extend %h2;
  margin-bottom: 4rem;
}

.navigation {
  min-width: 28.2rem;
}

.searchForm {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: $gapMedium;
  max-width: 28.2rem;
}

.searchBtn {
  margin-top: 2.4rem;
  border: 0.05rem solid $lavenderDark;
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: $gapLarge;
  width: 100%;
}
