.page {
  padding-block: 12.8rem 6.4rem;
  min-height: 73.5rem;

  &Content {
    display: flex;
    gap: $gapLarge;
  }
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: $gapMedium;
}

.title {
  @include typography(h2, bold);
  margin-bottom: 4rem;
}

.content {
  flex-grow: 1;
}

@media (max-width: 1158px) {
  .page {
    padding-top: 10rem;
    min-height: 100%;
  }

  .pageContent {
    flex-direction: column;
  }

  .title {
    margin-bottom: 2.4rem;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    gap: 0.4rem;
    margin-bottom: 3.2rem;
  }

  .navigation ul::-webkit-scrollbar {
    display: none;
  }

  .navigation ul li {
    flex-shrink: 0;
    width: auto;
  }

  .content {
    margin: -1.6rem;
  }
}
