.card {
  display: flex;
  position: static;
  flex-grow: 1;
  padding: 2.4rem;
  padding-bottom: 3.2rem;
  height: 41.2rem;
  background: $text2;
  border: 0.05rem solid $background2;
  border-radius: $borderRadiusLarge;

  &Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 1.6rem;

    &.addMargin {
      margin-bottom: 6.6rem;
    }
  }

  &.open {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;

    .photo {
      background: #ecedf4;
    }

    .cross {
      rotate: 90deg;
    }
  }

  .cross {
    align-self: flex-end;
    margin-bottom: $gapMedium;
    height: 1.8rem;
    width: 1.8rem;
    aspect-ratio: 1;
  }
}

.photo {
  width: 16rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $background1;
}

.name {
  @include typography(body1, medium);

  text-align: center;

  span:first-child {
    display: inline-block;
    margin-bottom: 0.4rem;
  }
}

.role {
  @include typography(body4);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2.4rem;
  height: 2.4rem;
  text-transform: uppercase;
  text-align: center;
}

.personInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moreBtn {
  text-transform: none;
}

.biography {
  display: flex;
  flex-direction: column;
  margin-left: 2.4rem;
  width: 100%;
}

.text {
  @include typography(body4);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 2.4rem;
  max-height: 32.2rem;
  overflow-x: hidden;
}

.socials {
  display: flex;
  justify-content: center;

  .socialWrapper {
    border: 0.05rem solid $background2;
    border-radius: 0.8rem;
  }

  .social {
    height: 4rem;
    aspect-ratio: 1;
    background: $primary1;
    transition: 0.2s;

    &.facebook {
      mask: url(assets/icons/socials/facebook-raw.svg);
    }
    &.instagram {
      mask: url(assets/icons/socials/instagram-raw.svg);
    }

    @media (hover: hover) {
      &:hover {
        background: $primary3;
      }
    }
  }
}

@media (max-width: 1440px) {
  .card {
    padding: 2.4rem 1.6rem;
    height: auto;

    &.open {
      display: flex;
      flex-direction: column;
      gap: $gapLarge;
      position: relative;
      padding-bottom: 3.2rem;
      height: unset;

      .cross {
        margin-bottom: 0;
      }
    }

    &Inner {
      justify-content: start;
      flex-direction: row;
      white-space: nowrap;
      flex-grow: 1;
    }
  }

  .photo {
    min-width: 12rem;
    width: 12rem;
    height: 12rem;
    aspect-ratio: 1;
  }

  .personInfo {
    align-items: start;
    gap: $gapExtraSmall;
  }

  .text {
    padding-right: 0;
    line-height: 2rem;
  }

  .name {
    @include typography(body1, 'medium');

    display: flex;
    align-items: center;
    gap: 0.4rem;

    span:first-child {
      margin-bottom: 0;
    }

    br {
      display: none;
    }
  }

  .role {
    margin: 0;
    height: auto;
    font-size: 1.4rem;
    line-height: 2rem;
    white-space: normal;
    text-align: left;
  }

  .socials {
    margin-top: 0.6rem;
  }

  .biography {
    flex-direction: row-reverse;
    justify-content: start;
    margin: 0;
  }

  .text {
    flex-grow: 1;
  }

  .moreBtn {
    width: min(100%, 20rem);
    height: 4rem;
    margin-top: $gapExtraSmall;

    img {
      display: none;
    }
  }
}

@media (max-width: 430px) {
  .personInfo {
    flex-grow: 1;
  }

  .moreBtn {
    width: 100%;
  }

  .name {
    flex-wrap: wrap;
  }
}
