.cardWrapper {
  width: calc(100% / 3 - 1.6rem);
  min-height: 49rem;
}

.card {
  display: flex;
  position: static;
  max-height: 49rem;
  padding: 2.4rem;
  padding-bottom: 3.2rem;
  background: $text2;
  border: 0.05rem solid $background2;
  border-radius: $borderRadiusLarge;

  &Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    &.addMargin {
      margin-bottom: 6.6rem;
    }
  }

  &.open {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;

    .photo {
      border-radius: $borderRadius;
      background: #ecedf4;
    }

    .cross {
      rotate: 90deg;
    }
  }
}

.photo {
  width: 23.4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: 0.3s;
}

.name {
  @include typography(h3);

  font-size: 4rem;
  font-weight: map-get($fontWeights, 'bold');
  text-align: center;
}

.role {
  @include typography(body4);
  text-transform: uppercase;
}

.moreBtn {
  margin-top: 0.8rem;
  text-transform: none;
}

.biography {
  margin-inline: 2.4rem 1.6rem;
}

.text {
  @include typography(body4);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 2.4rem;
  height: auto;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .social {
    height: 4rem;
    aspect-ratio: 1/1;
    background: $primary1;
    transition: 0.2s;

    &.facebook {
      mask: url(assets/icons/socials/facebook-raw.svg);
    }
    &.instagram {
      mask: url(assets/icons/socials/instagram-raw.svg);
    }

    &:hover {
      background: $primary3;
    }
  }
}

.thumb {
  margin-block: 0.4rem;
  width: 0.8rem;
  border-radius: 0.4rem;
  background: $background2;
}

.scrollbar {
  display: flex;
  justify-content: center;
  min-width: 1.6rem;
  border-radius: 0.4rem;
  border: 0.05rem solid $background2;
  background: none;
}

@media (max-width: 1158px) {
  .cardWrapper {
    width: 100%;
    min-height: 9rem;
  }

  .card {
    max-width: 100%;
    height: auto;
    border-radius: 0rem;
    padding: 2.4rem 1.6rem;

    &.open {
      position: relative;
      width: 100%;
      left: 0;
      z-index: 1;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      .photo {
        border-radius: 50%;
        background: #ecedf4;
      }

      .cross {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
      }
    }
  }

  .socials {
    flex-direction: column;
  }

  .cardInner {
    flex-direction: row;
    white-space: nowrap;
  }

  .photo {
    width: 12rem;
    height: 12rem;
  }

  .name {
    font-size: 3.2rem;
    text-align: left;
    white-space: nowrap;
    word-spacing: 0.4rem;
  }

  .name span {
    margin-right: 0.4rem;
  }

  .name br {
    display: none;
  }

  .role {
    font-size: 1.4rem;
    width: 100%;
    white-space: normal;
  }

  .biography {
    margin-inline: 4rem 1rem;
  }

  .moreBtn {
    width: 100%;
    height: 4rem;
    margin-top: 1.6rem;
  }
}
