.block {
  padding-block: 10rem 90.8rem;
  background: url(assets/images/backgrounds/career-scheme.jpg) no-repeat center / contain, #ebe8ee;
}

.title,
.subtitle {
  display: inline-block;
}

.title {
  @extend %h2;
}

.subtitle {
  @extend %body2Regular;

  margin-left: 2.4rem;
  text-transform: capitalize;
}
