.block {
  padding-block: 10rem 90.8rem;
  background: url(assets/images/backgrounds/career-scheme.webp) no-repeat bottom / cover, #ebe8ee;
}

.title,
.subtitle {
  display: inline-block;
}

.title {
  @include typography(h2, bold);
}

.subtitle {
  @include typography(body2);

  margin-left: 2.4rem;
  text-transform: capitalize;
}
