.dashboard {
  padding-block: 12rem;
  background: $background2;
}

.blocksWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 57.6rem;
  column-gap: $gapLarge;
  row-gap: 4rem;
}

.block {
  display: flex;
  flex-direction: column;
  padding-inline: 4rem;
  max-width: 58.8rem;
  width: 100%;
  border-radius: $borderRadiusLarge;
}

.title {
  @include typography(h2);

  position: relative;
  cursor: pointer;

  span {
    @include typography(body3);

    margin-left: 1.6rem;
    color: $secondary4;
    text-transform: uppercase;
  }

  @media (hover: hover) {
    &:hover .arrow {
      translate: calc(100% + $gapExtraSmall) -50%;
      opacity: 0;

      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}

.arrow {
  position: absolute;
  right: 0;
  top: 50%;
  width: 2.6rem;
  height: 4rem;
  mask: url(assets/icons/arrow-right-pages-type.svg);
  translate: 0 -50%;
  transition: 0.3s;

  &:nth-child(2) {
    right: calc(2.6rem + $gapExtraSmall);
    opacity: 0;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: $gapExtraSmall;
}

.link {
  @include typography(buttonSmall);

  display: inline-block;
  padding: 0.8rem 1.6rem;
  text-transform: capitalize;
  border-radius: $borderRadius;
}

.list {
  display: flex;
  flex-direction: column;

  .item {
    @include typography(body3, medium);

    border-bottom-width: 0.05rem;
    border-bottom-style: solid;
    text-transform: capitalize;
    cursor: pointer;

    &:first-child {
      padding-top: 0;
    }
  }
}

.error {
  color: $text1;
}

.loader > div::after {
  background: $lavender;
}

@media (max-width: 1158px) {
  .dashboard {
    padding-block: 6.4rem;
    height: auto;
  }

  .blocksWrapper {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-height: none;
    justify-content: center;
    gap: 1.6rem;

    .block {
      padding: 2.4rem 1.6rem;
      gap: $gapMedium;
    }
  }

  .arrow {
    width: 2rem;
    mask: url(assets/icons/arrow-right-pages-type-mobile.svg);
  }

  .title {
    @include typography(h2);

    position: relative;
    cursor: pointer;

    span {
      margin-left: 0.8rem;
    }
  }

  .list .item {
    flex-direction: column;
    align-items: baseline;
    padding: 1.6rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    strong {
      font-size: 16px;
    }
  }

  .blocksWrapper > :nth-child(3) {
    order: 2;
  }

  .blocksWrapper > :nth-child(4) {
    order: 1;
  }
  .links {
    flex-wrap: wrap;
  }
}
