.news {
  padding-block: 12.8rem 12rem;
  min-height: 80vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-bottom: 4rem;
}

.title {
  @include typography(h2, bold);

  text-transform: capitalize;
  white-space: nowrap;
}

.search {
  display: flex;
  align-items: center;
  gap: $gapLarge;
  width: 100%;

  &Term {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
    position: relative;
  }

  &Btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 24rem;
  }

  .searchInput {
    width: 80%;
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 0.05rem solid $secondary2;
      border-right: none;
    }
  }
}

.sort {
  width: 28.2rem;
}

.text {
  @include typography(body3);
}

.newsList {
  display: flex;
  flex-direction: column;
  gap: $gapLarge;
}

@media (max-width: 1152px) {
  .news {
    padding-block: 10.4rem 6.4rem;
  }

  .header {
    flex-direction: column;
    align-items: start;
    gap: $gapLarge;
  }

  .searchTerm {
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
  }

  .search {
    flex-direction: column-reverse;
    gap: 1.6rem;

    .searchInput {
      width: 100%;
      input {
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        border-right: 0.05rem solid $secondary2;
      }
    }
    &Btn {
      position: static;
    }
  }

  .sort {
    width: 100%;
  }

  .newsList {
    gap: 1.6rem;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 3.2rem;
  }

  .searchInput {
    input {
      border-top-right-radius: 1.2rem;
      border-bottom-right-radius: 1.2rem;
    }
  }

  .searchBtn {
    display: none;
  }

  .newsList {
    margin-inline: -1.6rem;
  }
}
